.active-link {
    border-bottom: 1px solid #FF8D6E;;
}
.notification {
    background: red;
    width: 6px;
    height:6px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 12px;
}