<div class="d-flex align-items-center justify-content-between p-16 border-bottom" >
    <div class="d-flex align-items-center">
        <img src="{{image}}" alt="" class="border-radius-5 max-90 w-100 image">
        <div class="mrs-8 align-self-start">
            <div class="text-secondary weight-600 size-8 mrb-6">{{name}}</div>
            <div class="text-gray1 weight-700 size-8">EGP {{price}}</div>
        </div>
    </div>

    <div class="d-flex  justify-content-between max-120 w-100 align-items-center">
        <div class="size-4 text-primary cursor-pointer weight-500 border-primary border-radius-5 border ptb-3 pse-6" (click)="decrease()" >-
        </div>
        <div class="size-4 text-dark weight-500">{{counter}}</div>
        <div class="size-4 text-primary cursor-pointer weight-500 border-primary border-radius-5 border ptb-3 pse-6" (click)="increase()">+
        </div>
      </div>

      <div class="d-flex align-items-center cursor-pointer" (click)="removeItem()">
          <img src="../../../../assets/images/trash.svg" alt="" class="max-30 w-100">
          <div class="text-secondary size-6 weight-700 mrs-2">Remove</div>
      </div>
</div>